<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		 <typeAlias type="com.icia.jmember.dto.JMemberDTO" alias="member"/> 
		<!-- 새로 추가-->
		<typeAlias type="com.icia.jmember.dto.JoinMemberDTO" alias="member1"/>
	</typeAliases>
</configuration>