<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Board">
 	<insert id="boardWriteFile" parameterType="board">
 		INSERT INTO BOARDTEST
		VALUES(BNUM_SEQ.nextval, #{bwriter}, #{bpassword}, #{btitle}, #{bcontents}, SYSDATE, 0, #{bfilename})
 	
 	</insert>
 	
 	<select id="boardList" resultType="board">
 		SELECT*FROM BOARDTEST
 	</select>
 	
 	<select id="listCount" resultType="int">
 		SELECT COUNT(*) FROM BOARDTEST
 	</select>
 	
 	<!-- 페이징 처리 -->
 	<select id ="pagingList" parameterType="paging" resultType="board">
 		SELECT * FROM BOARDLISTT WHERE RN BETWEEN #{startrow} AND #{endrow}
 	</select>
 	
 	<select id="boardView"  parameterType="int" resultType="board">
 		SELECT * FROM BOARDTEST WHERE BNUM = #{bnum}
 	</select>
 </mapper>