<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Member">
 <insert id="join" parameterType="member">
 	INSERT INTO MEMBER
 	VALUES (#{mid},#{mpassword})
 </insert>
 <select id="Login" parameterType="member" resultType="String">
 	SELECT MID FROM MEMBER WHERE MID = #{mid} AND MPASSWORD = #{mpassword}  
 </select>
 
 
 <insert id="boardWriteFile" parameterType="board">
 		INSERT INTO BOARD
		VALUES(BNUM_SEQ.nextval, #{bwriter}, #{bpassword}, #{btitle}, #{bcontents}, SYSDATE, 0, #{bfilename})
 </insert> 
 <select id="idOverlap" parameterType="String" resultType="String">
 SELECT MID FROM  MEMBER WHERE MID=#{mid}
 
 </select>
 
 </mapper>
 
 